<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="row">
          <div class="col-4">
            <img src="images/me.jpeg" class="img-fluid" />
          </div>
          <div class="col-8">
            <div class="post-entry-1">
              <h3>Обо мне</h3>
              <p>Я - Евгений Грибов, мне 19 лет.  Всю свою сознательную жизнь увлекаюсь спортом. 
Первые шаги в спорте с 3-х лет.  Обучался таким единоборствам как: 
Укадо (универсальное каратэ)  - современный контактный стиль единоборств, включающий болевые и удушающие приемы, броски, удары руками и ногами, борьбу лежа, добивания.
Кудо или Дайдо Дзюку — современное полноконтактное боевое единоборство, созданное в 1981 году мастером восточных единоборств Адзумой Такаси на основе его знаний о карате кёкусинкай, борьбе дзюдо, тайском боксе.
Джиу-джицу, или Джиу-джитсу, точнее Дзюдзю́цу — общее название, применяемое для японских боевых искусств, включающих в себя техники работы с оружием и без него; искусство рукопашного боя, основным принципом которого является «мягкая», «податливая» техника движений.
Кикбо́ксинг (от kick, с англ. — «удар ногой»; boxing  — «бокс») — спортивное единоборство, зародившееся в 1960-х годах. Подразделяется на американский кикбоксинг (фулл-контакт, фулл-контакт с «лоу-киком», семи-контакт, лайт-контакт, кик-лайт), японский кикбоксинг (формат К-1), сольные композиции (музыкальные формы). В широком смысле слова под кикбоксингом иногда понимают различные ударные единоборства, правилами которых разрешены удары руками и ногами с использованием в экипировке боксёрских перчаток (тайский бокс, шутбоксинг, саньда, сават и пр.).
Са́мбо (сокращение (акроним) от самозащита (самооборона) без оружия) — русский, а в настоящее время и международный вид спортивного и боевого (боевое самбо) единоборства, разработанный в 1920-30 гг. на основе борьбы дзюдо и джиу-джитсу под руководством В.С.Ощепкова, В.А.Спиридонова и А.А.Харлампиева.

На данный момент, занимаюсь спортом, для поддержания формы и здоровья. Также посещаю тренажерный зал. 
Спорт стал неотъемлемой частью моей жизни. Я за здоровый образ жизни, за движение, за стремление и мотивацию, именно спорт дает необходимый источник энергии. Делает человека более целеустремленным, учит вставать каждый раз после падения и идти вперед!
Мой лозунг в жизни - есть цель, значит нет преград!
</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
