<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Спасибо, {{contact.name}}!</h2>
        <p>Мы обязательно свяжемся с Вами</p>
	    </div>
    </div>
  </div>
</div>

