<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-12">

      	<table class="table">
      		<thead>
          <tr>
            <th scope="col">Имя</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Окончание карьеры</th>
            <th scope="col">Цитата</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Федор Емельяненко</th>
            <td>28 сентября 1976 г.</td>
            <td>27 января 2019 г.</td>
            <td>Никому ничего не доказывай.<br/>
              Просто молча иди к своей цели.<br/>
              Твои поступки расскажут о тебе сами.</td>
          </tr>
          <tr>
            <th scope="row">Брюс Ли</th>
            <td>27 ноября 1940 г.</td>
            <td>20 июля 1973 г.</td>
            <td>Если вас критикуют, то значит вы делаете всё правильно.<br/>
              Потому что люди нападают на всякого у кого есть мозги.</td>
          </tr>
          <tr>
            <th scope="row">Мохаммед Али</th>
            <td>17 января 1942 г.</td>
            <td>3 июня 2016 г.</td>
            <td>Чем больше мы помогаем другим, тем больше помогаем себе.</td>
          </tr>
          <tr>
            <th scope="row">Костя Цзю</th>
            <td>19 сентября 1969 г.</td>
            <td>5 июня 2005 г.</td>
            <td>Кто-то говорит, что я талантливый, мой самый большой талант заключается в том, что я умею работать больше чем другие.</td>
          </tr>
        </tbody>
      	</table>

      </div>
    </div>
  </div>
</div>
